QLabel#TradePostViewBackground {
    background: #1A1A1A;
    background-image: url('style/img/trade_post_interface.png');
    background-repeat: no-repeat;
}

QLabel#TradePostSideViewInfoLabel {
    min-width: 520px;
    max-width: 520px;
    min-height: 80px;
    max-height: 80px;
    font: 14pt Roboto Mono;
    color: #CCCCCC;
    qproperty-alignment: AlignCenter;
}

QLabel#TradePostSideViewListLabel {
    min-width: 520px;
    max-width: 520px;
    min-height: 30px;
    max-height: 30px;
    font: 14pt Roboto Mono;
    color: #CCCCCC;
    background: #4A4A4A;
}

QLabel#TradePostSideViewListLabel {
    min-width: 520px;
    max-width: 520px;
    min-height: 30px;
    max-height: 30px;
    font: 14pt Roboto Mono;
    color: #CCCCCC;
    background: #4A4A4A;
}

QListWidget#TradePostSideViewList {
    border: none;
    font-size: 16px;
    color: #CCCCCC;
    background: #333333;
    min-width: 520px;
    max-width: 520px;
    min-height: 500px;
    max-height: 500px;
}

QListWidget::item:hover {
    background: #4A4A4A;
}

QListWidget::item:selected {
    background: #4A4A4A;
    color: #0BE319;
}

QScrollBar:vertical {
    border: 1px #CCCCCC solid;
    background: #333333;
    width: 3px;
    margin: 0px 0px 0px 0px;
}

QLabel#TradePostSideViewBuyLabel {
    background-image: url('style/img/buy_label_bg_170x50.png');
    background-repeat: no-repeat;
    min-width: 170px;
    max-width: 170px;
    min-height: 50px;
    max-height: 50px;
    font: 20pt Roboto Mono;
    color: #CCCCCC;
    qproperty-alignment: AlignCenter;
    margin-left: 80px;
    margin-top: 20px;
}

QPushButton#TradePostSideViewBuyOne {
    background-image: url('style/img/quad_button_blue_top_left.png');
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border: none;
    font: 16pt Roboto Mono;
    color: #CCCCCC;
    margin-left: 60px;
}

QPushButton#TradePostSideViewBuyOne:pressed {
    background-image: url('style/img/quad_button_yellow_top_left.png');
}

QPushButton#TradePostSideViewBuyTen {
    background-image: url('style/img/quad_button_blue_top_right.png');
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border: none;
    font: 16pt Roboto Mono;
    color: #CCCCCC;
}

QPushButton#TradePostSideViewBuyTen:pressed {
    background-image: url('style/img/quad_button_yellow_top_right.png');
}

QPushButton#TradePostSideViewBuyHundred {
    background-image: url('style/img/quad_button_blue_bottom_left.png');
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border: none;
    font: 16pt Roboto Mono;
    color: #CCCCCC;
    margin-left: 60px;
}

QPushButton#TradePostSideViewBuyHundred:pressed {
    background-image: url('style/img/quad_button_yellow_bottom_left.png');
}

QPushButton#TradePostSideViewBuyAll {
    background-image: url('style/img/quad_button_blue_bottom_right.png');
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border: none;
    font: 16pt Roboto Mono;
    color: #CCCCCC;
}

QPushButton#TradePostSideViewBuyAll:pressed {
    background-image: url('style/img/quad_button_yellow_bottom_right.png');
}

QLabel#CargoBaySideViewSellLabel {
    background-image: url('style/img/sell_label_bg_170x50.png');
    background-repeat: no-repeat;
    min-width: 170px;
    max-width: 170px;
    min-height: 50px;
    max-height: 50px;
    font: 20pt Roboto Mono;
    color: #CCCCCC;
    qproperty-alignment: AlignCenter;
    padding-left: 20px;
    margin-left: 80px;

}


QPushButton#CargoBaySideViewSellOne {
    background-image: url('style/img/quad_button_yellow_top_left.png');
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border: none;
    font: 16pt Roboto Mono;
    color: #CCCCCC;
    margin-left: 60px;
}

QPushButton#CargoBaySideViewSellOne:pressed {
    background-image: url('style/img/quad_button_blue_top_left.png');
}

QPushButton#CargoBaySideViewSellTen {
    background-image: url('style/img/quad_button_yellow_top_right.png');
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border: none;
    font: 16pt Roboto Mono;
    color: #CCCCCC;
}

QPushButton#CargoBaySideViewSellTen:pressed {
    background-image: url('style/img/quad_button_blue_top_right.png');
}

QPushButton#CargoBaySideViewSellHundred {
    background-image: url('style/img/quad_button_yellow_bottom_left.png');
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border: none;
    font: 16pt Roboto Mono;
    color: #CCCCCC;
    margin-left: 60px;
}

QPushButton#CargoBaySideViewSellHundred:pressed {
    background-image: url('style/img/quad_button_blue_bottom_left.png');
}

QPushButton#CargoBaySideViewSellAll {
    background-image: url('style/img/quad_button_yellow_bottom_right.png');
    min-width: 80px;
    max-width: 80px;
    min-height: 80px;
    max-height: 80px;
    border: none;
    font: 16pt Roboto Mono;
    color: #CCCCCC;
}

QPushButton#CargoBaySideViewSellAll:pressed {
    background-image: url('style/img/quad_button_blue_bottom_right.png');
}

QLabel#CargoBaySideViewInfoLabel {
    min-width: 390px;
    max-width: 390px;
    min-height: 80px;
    max-height: 80px;
    font: 14pt Roboto Mono;
    color: #CCCCCC;
    qproperty-alignment: AlignCenter;
    margin-top: 10px;
    margin-left: 40px;
}

QLabel#CargoBaySideViewListLabel {
    min-width: 435px;
    max-width: 435px;
    min-height: 30px;
    max-height: 30px;
    font: 14pt Roboto Mono;
    color: #CCCCCC;
    background: #4A4A4A;
    margin-left: 40px;
}

QListWidget#CargoBaySideViewList {
    border: none;
    font-size: 16px;
    color: #CCCCCC;
    background: #333333;
    min-width: 435px;
    max-width: 435px;
    min-height: 500px;
    max-height: 500px;
    margin-left: 40px;
}